<nav class="side-navbar">
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar">
            <img src="../../assets/images/avarta.jpg" alt="..." class="img-fluid rounded-circle">
        </div>
        <div class="title">
            <h1 class="h4">Phuong Nguyen</h1>
            <p>Software Engineer</p>
        </div>
    </div>
    <ul class="list-unstyled">
        <li >
            <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa fa-home" aria-hidden="true"></i>Dashboard</a>
        </li>
        <li>
            <a routerLink="/categories/index" routerLinkActive="active">
                <i class="fa fa-folder-open"></i>Categories</a>
        </li>
        <li>
            <a routerLink="/articles/index" routerLinkActive="active">
                <i class="fa fa-file-text"></i>Articles</a>
        </li>
    </ul>
</nav>