body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    overflow-x: hidden;
}

a {
    color: #796AEE;
    text-decoration: none;
}

a, i, span {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

h4, .h4 {
    font-size: 1.1rem;
}

h2, .h2 {
    font-size: 1.3rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

*[class*="icon-"] {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}