body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    overflow-x: hidden;
}

a {
    color: #796AEE;
    text-decoration: none;
}

a, i, span {
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

h4, .h4 {
    font-size: 1.1rem;
}

h2, .h2 {
    font-size: 1.3rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.1;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

*[class*="icon-"] {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.has-shadow {
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
}

input {
    outline: none !important;
}

.input-material {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    padding: 10px 0;

    &:focus {
        border-color: #796AEE;
    }

    ~ label {
        color: #aaa;
        position: absolute;
        top: 14px;
        left: 0;
        cursor: text;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        font-weight: 300;
    }

    ~ label.active {
        font-size: 0.8em;
        top: -10px;
        color: #796AEE;
    }
}

.btn {
    font-weight: 400;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: color-yiq(#796AEE);
    background-color: #796AEE;
    border-color: #796AEE;

    &:hover {
        color: color-yiq(#5a48ea);
        background-color: #5a48ea;
        border-color: #503ce9;
    }
}

.breadcrumb-holder {
    background: #fff;
}

.breadcrumb {
    background: #fff;
    position: relative;
    z-index: 7;
    border-radius: 0;
    padding: 15px 0;
    margin-bottom: 0;

    li.breadcrumb-item {
        color: #aaa;
        font-weight: 300;
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #868e96;
    content: "/";
}

section {
    padding: 50px 0;
}

.card {
    background-color: #fff;
    border: 0 solid #eee;
    border-radius: 0;
}

.card {
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -1px 0 2px rgba(0, 0, 0, 0.05);
}

.card-close {
    position: absolute;
    top: 15px;
    right: 15px;

    .dropdown-toggle {
        color: #999;
        background: none;
        border: none;
    }

    .dropdown-menu {
        border: none;
        min-width: auto;
        font-size: 0.9em;
        border-radius: 0;
        -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);

        a {
            color: #999 !important;

            i {
                margin-right: 10px;
                -webkit-transition: none;
                transition: none;
            }
        }
    }
}

.card-header {
    padding: 1rem 1.25rem;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.card-header {
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.05);

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0;
    }
}

.card-body {
    padding: 1.25rem;
}

table {
    font-size: 0.9em;
    color: #666;
}